<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kgd.zhen.detectusb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="22" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		<receiver android:name=".DetectUSB"> 
			<intent-filter> 
			    <!-- USB 设备插入 -->
			    <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"/>
			    <!-- USB 设备拔出 -->
			    <action android:name="android.hardware.usb.action.USB_DEVICE_DETACHED"/>
			        
				<!-- UMS_CONNECTED 表示  设备进入 USB 大容量存储模式-->
				<action android:name="android.intent.action.UMS_CONNECTED" />
				<!-- UMS_CONNECTED 表示  设备从 USB 大容量存储模式退出--> 
				<action android:name="android.intent.action.UMS_DISCONNECTED" /> 
			</intent-filter> 
		</receiver>
    </application>

</manifest>
